extends layout

block main
  header
    h2 Editing '#{survey.title}'
    form.delete(action=`/surveys/${survey.id}/destroy` method="post")
      button(type="submit")
        img(src="../../images/trash.png")

  form(action=`/surveys/${survey.id}/edit` method="post")
    dl
      dt
        label(for="todoListTitle") Enter the new title for the survey:
      dd
        input(type="text"
              name="surveyTitle"
              placeholder="Survey Title"
              value=surveyTitle || survey.title)
    fieldset.actions
      button(type="submit") Save
      a.cancel(href=`/surveys/${survey.id}`) Cancel
