extends layout 

block main
  header
    h2 Edit:
    br
    p #{question}
    form.delete(action=`/surveys/${surveyId}/questions/${questionId}/destroy`
                method="post")
      button(type="submit")
        img(src="/images/trash.png" alt="")

  form(action=`/surveys/${surveyId}/questions/${questionId}` method="post")
    dl
      dt
        label(for="question") Question 
      dd
        input(type="text"
              name="questionText"
              id="questionText"
              placeholder="question..."
              value=questionText)
      dt
        label(for="questionType") Type
      dd 
        select(name="questionType" id="questionType")
          if selectedType === "closed"
            option(value="closed" selected) Closed
          else
            option(value="closed") Closed

          if selectedType === "nominal"
            option(value="nominal" selected) Nominal 
          else
            option(value="nominal") Nominal

          if selectedType === "open"
            option(value="open" selected) Open
          else
            option(value="open") Open
      dt 
        label(for="options") Options
      dd
        input(type="text"
              name="options"
              id="options"
              placeholder="option1, option2, option3..."
              value=options)
    
      fieldset.actions
        input(type="submit" value="Save")
        a(href=`/surveys/${surveyId}`) Cancel
