doctype html

html(lang="en-GB")

  head
    title Surveys
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")

  body 
    header 
      h1= survey.title 

    main 
      form(action=`/surveys/published/${survey.id}` method="post")
        fieldset 
          dl 
            each question in survey.questions
              dt
                label(for=`${question.id}`) #{question.question_text}
              dd 
                if question.question_type === 'open'
                  textarea(name=`${question.id}` id=`${question.id}`)
                else if question.question_type === 'closed'
                  each option in question.options
                    input(type="radio" name=`${question.id}` id=`${option.id}` value=`${option.id}`)
                    label(for=`${option.id}`) #{option.option_value}
                else if question.question_type === 'nominal'
                  each option in question.options 
                    input(type="checkbox" name=`${question.id}` id=`${option.id}` value=`${option.id}`)
                    label(for=`${option.id}`) #{option.option_value}

        button(type="submit") Submit
