extends layout

block main
  header
    h2= survey.title
    form.edit(action=`/surveys/${survey.id}/edit` method="get")
      button(type="submit") Edit

  ul#questions
    each question in questions
      li
        p= question.text
        form.edit(action=`/surveys/${survey.id}/questions/${question.id}` method="get")
          button(type="submit") Edit
        form.delete(action=`/surveys/${survey.id}/questions/${question.id}/destroy`
                    method="post")
          button(type="submit") Delete

  .add_question
    h3 Add Question
    form(action=`/surveys/${survey.id}/questions` method="post")
      dl
        dt
          label(for="question") Question 
        dd
          input(type="text"
                name="question"
                id="question"
                placeholder="question...")
        dt 
          label(for="type") Type
        dd 
          select(name="type" id="type")
            option(value="closed") Closed 
            option(value="nominal") Nominal 
            option(value="open") Open
        dt 
          label(for="options") Options
        dd
          input(type="text"
                name="options"
                id="options"
                placeholder="option1, option2, option3...")
      button(type="submit") Add

block headerLinks
  .actions
    a.list(href="/surveys") All Surveys
