extends layout

block main
  if surveys === undefined || surveys.length === 0
    p#no_list You don't have any surveys. Why not create one?
  else
    #surveys_filter
      label(for="filter") Show
      select(name="filter" id="filter")
        option(value="all" selected) All
        option(value="unpublished") Unpublished 
        option(value="published") Published

    ul#surveys_list
      each survey, surveyIndex in surveys
        if survey.published
          li.published
            a(href=`/surveys/${survey.id}`)
              .survey_details
                h3= survey.title
                p Questions: #{survey.numberOfQuestions}
                p Participants: #{survey.numberOfParticipants}
                p Published
        else 
          li.unpublished
            a(href=`/surveys/${survey.id}`)
              .survey_details
                h3= survey.title
                p Questions: #{survey.numberOfQuestions}
                p Unpublished

block headerLinks
  .actions
    a(href="/surveys/new") New Survey
    if surveys === undefined || surveys.length === 0
      image(src="../images/up-arrow.png")
