extends layout

block main
  header
    h2= survey.title
    form.edit(action=`/surveys/${survey.id}/edit` method="get")
      button(type="submit") Edit

  ul#questions
    if questions.length === 0
      p There are no questions in this survey.
      p Add a question below.
    else
      each question in questions
        li
          p= question.question
          form.edit(action=`/surveys/${survey.id}/questions/${question.id}` method="get")
            button(type="submit") Edit

  .add_question
    h3 Add Question
    form(action=`/surveys/${survey.id}/questions` method="post")
      dl
        dt
          label(for="question") Question 
        dd
          input(type="text"
                name="questionText"
                id="questionText"
                placeholder="question..."
                value=questionText || "")
        dt 
          label(for="type") Type
        dd 
          select(name="type" id="type")
            if selectedType === "closed"
              option(value="closed" selected) Closed
            else
              option(value="closed") Closed

            if selectedType === "nominal"
              option(value="nominal" selected) Nominal 
            else
              option(value="nominal") Nominal

            if selectedType === "open"
              option(value="open" selected) Open
            else
              option(value="open") Open
        dt 
          label(for="options") Options
        dd
          input(type="text"
                name="options"
                id="options"
                placeholder="option1, option2, option3..."
                value=options || "")
      button(type="submit") Add

block headerLinks
  .actions
    a.list(href="/surveys") All Surveys
