extends layout

block main
  header
    h2= survey.title
    if !survey.published
      form.edit(action=`/surveys/${survey.id}/edit` method="get")
        button(type="submit") Edit

  ul#questions
    if survey.questions.length === 0
      p There are no questions in this survey.
    else
      each question in survey.questions
        li
          p= question.question_text
          if !survey.published
            form.edit(action=`/surveys/${survey.id}/questions/${question.id}` method="get")
              button(type="submit") Edit
          else
            form(action=`/surveys/${survey.id}/questions/${question.id}/results` method="get")
              button(type="submit") Results

  if !survey.published
    form.publish(action=`/surveys/${survey.id}/publish` method="post")
      button(type="submit") Publish Survey

    .add_question
      h3 Add Question
      form(action=`/surveys/${survey.id}/questions` method="post")
        dl
          dt
            label(for="question") Question 
          dd
            input(type="text"
                  name="questionText"
                  id="questionText"
                  placeholder="question..."
                  value=questionText || "")
          dt 
            label(for="type") Type
          dd 
            select(name="questionType" id="questionType")
              if selectedType === "closed"
                option(value="closed" selected) Closed
              else
                option(value="closed") Closed

              if selectedType === "nominal"
                option(value="nominal" selected) Nominal 
              else
                option(value="nominal") Nominal

              if selectedType === "open"
                option(value="open" selected) Open
              else
                option(value="open") Open
          dt 
            label(for="options") Options
          dd
            input(type="text"
                  name="options"
                  id="options"
                  placeholder="option1, option2, option3..."
                  value=options || "")
        button(type="submit") Add
  else
    a(href=`/surveys/published/${survey.id}/start` target='_blank') Link to Survey
    form.unpublish(action=`/surveys/${survey.id}/unpublish` method="post")
      button(type="submit") Unpublish Survey

block headerLinks
  .actions
    a.list(href="/surveys") All Surveys
